* {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
}



/*                       header                          */

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #da8025b5;
    padding-left: 2vw;
    color: #ffffff;
    font-size: 1rem;
}
.cont-ul {
    display: flex;
    align-items: center;
}
li {
    list-style: none;
    cursor: pointer;
    padding: 1.5vw;
    transition:  all .3s ease 0s;
    font-size: 1.4rem;
}
li:hover {
    background-color: #da8025b5;
    color: white;
}
.develop {
    position: relative;
}
.ul-second {
    display: none;
    position: absolute;
    margin-top: 1.5vw;
    font-size: 1.4rem;
}

.ul-second > li {
    width: 190px;
    transform: translateX(-20px);
    border-bottom:solid 1px #ffffff ;
    text-align: center;
    background-color: #da8025b5;
    color: rgb(255, 255, 255);
}

.ul-second > li:hover {
    background-color: #da8025b5;
    color: rgb(255, 255, 255);
}

.develop:hover > .ul-second {
    display: block;
}
nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.4rem;
    background-color: #da8025b5;
}
.invi:hover{
    background-color: #994d0000;
}
nav a:hover {
    color: #ffffff;
    background-color: #221100cc;
}



/*                       header                          */


.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
body{
    background-image: url(../img/FondoMockup1.png);
    color: white;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Añadido para espacio adicional después de la tabla */
}

table th,
table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ffffff;
}

table th {
    background-color: #da8025b5;
}
.barra{
    text-decoration: none;
    border: none;
    background-color: #9e4f0000;
}
.letra{
    font-size: 1rem;
}
table tbody tr:hover {
    background-color: #ffffffba;
    color: black;
}
h2{
    text-align: center;
    font-size: 2rem;
}
h4{
    font-size: 1.5rem;
}
a {
    display: inline-block;
    padding: 4px 8px;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 4px;
    background-color: rgb(27, 121, 227);
}
.crear{
    background-color: #37a500;
}
.crear:hover{
    background-color: #1d8600;
}
a:hover {
    background-color: #003a97;
}
.elim{
    background-color: red;
    width: 80px;
    text-align: center;
}
.elim:hover{
    background-color: rgb(176, 0, 0);
}

.boton1{
    text-align: center;
    width: 80px;
}

.buscador{
    width: 100%;
    margin-right: 10px;
    align-items: right;
    width: 40%;
    background-color: #ffffff00;
    box-shadow: 0 0px 0px rgba(255, 255, 255, 0);
    text-align: right;
}
.buscar{
    border-radius: 10px;
    width: 45%;
    height: 41px;
    margin-top: 10px;
}
.boton_enviar{
    margin-top: 10px;

    
}

form {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    background-color: #00000099;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.indice{
    width: 30%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
select {
    text-align: center;
    width: 70%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login{
    width: 20%;
    margin-top: 10px;
    margin-left: 40%;
    margin-bottom: 15px;
}

input[type="text"],
input[type="date"],
input[type="number"] {
    text-align: center;
    width: 70%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #37a500;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button[type="submit"]:hover{
    background-color: #1d8600;
}
button {
    display: inline-block;
    padding: 4px 8px;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 4px;
    background-color: #37a500;
}
button:hover{
    background-color: #1d8600;
}
.fotos{
    width: 80%;
    text-align: auto;
    margin-top: 20%;
}
.resultados{
    font-weight: bold;
}
.fotodept{
    margin-top: 8%;
    width: 80%;
}
.column-50{
    width: 50%;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="number"] {
    text-align: center;
    width: 70%; /* Puedes ajustar este valor según tus necesidades */
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.img{
    width: 100%;
}
.logo{
    width: 7%;
}
.color{
    background-color: #da8025b5;
}
.color:hover{
    background-color: #6a3500;
}

@media screen and (max-width: 800px){
    .login{
        width: 80%;
        margin-left: 10%;
    }
    nav {
        padding: 3%;

    }
    h2{
        font-size: 1.5rem;
    }
    h4{
        font-size: 1.2rem;
    }
    .img{
        width: 80%;
        margin-left: 10%;
    }
    .logo{
        width: 10%;
    }
    .ocultar{
        display: none;
    }
    li {
        font-size: 1rem;
    }
    .ul-second {
        font-size: 1rem;
    }
    .letra{
        font-size: 0.9rem;
    }
    nav a{
        font-size: 1rem;
    }
    li{
        font-size: 1rem;
    }
    .column-50{
        width: 100%;
    }
    .fotos{
        text-align: center;
        margin-top: 3%;
        margin-left: 10%;
    }
    .fotodept{
        margin-top: 3%;
        margin-left: 10%;
    }
    .indice{
        width: 90%;
    }
    button[type="submit"] {
        font-size: 70%;
    }
    .buscar{
        width: 50%;
        height: 30px;
    }
    .buscador{
        width: 100%;
    }
  }